Importing essential Libraries

In [24]:
import tensorflow
import numpy as np
import pandas as pd
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Flatten
from sklearn.model_selection import train_test_split

In [25]:
# If it returns a version number, it means that we are using tensorflow correctly
print(tensorflow.__version__)

2.10.0

Preprocessing

In [26]:
# Reading the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

In [27]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [28]:
# Separating the features and the target variable
# Features
X = dataset.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)
# target variable
y = dataset['Exited']

In [29]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [30]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [31]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.4+ KB

Using Label Encoder to Convert Categorical Features into Numerical Features

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
label1 = LabelEncoder()
X['Geography'] = label1.fit_transform(X['Geography'])
label = LabelEncoder()
X['Gender'] = label.fit_transform(X['Gender'])
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [34]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [35]:
# .get_dummies() is used to convert categorical data into dummy/indicator variables.
X = pd.get_dummies(X, drop_first=True, columns=['Geography'])
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1

Scaling our Data
Scalling such that the mean is 0, variance is 1 for data.

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
# train_test_split() 
# It is used to split the data into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [38]:
X_train.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
7389,667,0,34,5,0.00,2,1,0,163830.64,0,1
9275,427,1,42,1,75681.52,1,1,1,57098.00,1,0
2995,535,0,29,2,112367.34,1,1,0,185630.76,0,0
5316,654,1,40,5,105683.63,1,1,0,173617.09,0,1
356,850,0,57,8,126776.30,2,1,1,132298.49,0,1

In [40]:
# StandardScaler() is used to standardize the dataset.
scaler = StandardScaler()
# fit_transform() is used to fit to data, then transform it.
# .fit() is used to compute the mean and standard deviation used for later scaling.
# .transform() is used to perform standardization by centering and scaling.
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [41]:
X_train

array([[ 0.16958176, -1.09168714, -0.46460796, ...,  1.10643166,
        -0.5698444 ,  1.74309049],
       [-2.30455945,  0.91601335,  0.30102557, ..., -0.74866447,
         1.75486502, -0.57369368],
       [-1.19119591, -1.09168714, -0.94312892, ...,  1.48533467,
        -0.5698444 , -0.57369368],
       ...,
       [ 0.9015152 ,  0.91601335, -0.36890377, ...,  1.41231994,
        -0.5698444 , -0.57369368],
       [-0.62420521, -1.09168714, -0.08179119, ...,  0.84432121,
        -0.5698444 ,  1.74309049],
       [-0.28401079, -1.09168714,  0.87525072, ...,  0.32472465,
         1.75486502, -0.57369368]])

Building an ANN

In [42]:
# Here we are building ANN model.
# First we add input layer of shape of input that is 11 in this case.
# There is only one hidden layers whose shape is 128.
# Shape of Output layer is only 1 since we have only one output.

In [43]:
# Initializing the ANN
model = Sequential()
# .add() is used to add layers to the model.
# .Dense() is used to add fully connected layers.
model.add(Dense(X.shape[1], activation='relu', input_dim = X.shape[1]))
# 128 is the number of neurons in the hidden layer.
# activation function is relu.
# relu is used to add non-linearity to the model.
#  non-linear function or piecewise linear function that will output the input directly if it is positive, otherwise, it will output zero
model.add(Dense(128, activation='relu'))
# activation function is sigmoid.
# sigmoid is used to add non-linearity to the model.
# sigmoid function means that the output of this unit will always be between 0 and 1
model.add(Dense(1, activation='sigmoid'))

Compiling our Model.

In [45]:
# We have adam optimizer.
# adam optimizer is used to update the weights.
# Adam is a replacement optimization algorithm for stochastic gradient descent for training deep learning models
# Adam is best among the adaptive optimizers in most of the cases. Good with sparse data

# loss is binary_crossentropy.
# binary_crossentropy is used for classification problems.
# binary_crossentropy computes the cross-entropy loss between true labels and predicted labels.

#  metrics is accuracy.
# accuracy is used to evaluate the performance of the model.
#  how the model performs across all classes.
# useful when all classes are of equal importance
# calculated as the ratio between the number of correct predictions to the total number of predictions

In [46]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

Model Fitting on Training Dataset.

In [47]:
# epoch is the number of iterations.
# batch size is the number of samples per gradient update.

model.fit(X_train, y_train.to_numpy(), batch_size = 10, epochs = 10, verbose = 1)

Epoch 1/10
800/800 [==============================] - 2s 2ms/step - loss: 0.4510 - accuracy: 0.8033
Epoch 2/10
800/800 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8194
Epoch 3/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3668 - accuracy: 0.8439
Epoch 4/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3530 - accuracy: 0.8508
Epoch 5/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3463 - accuracy: 0.8555
Epoch 6/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8565
Epoch 7/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8595
Epoch 8/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3379 - accuracy: 0.8608
Epoch 9/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3358 - accuracy: 0.8631
Epoch 10/10
800/800 [==============================] - 1s 1ms/step - loss: 0.3350 - accuracy: 0.8614

Prediction of input data

In [52]:
y_pred = model.predict((X_test))

63/63 [==============================] - 0s 2ms/step

In [55]:
y_test

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [56]:
y_pred

array([[0.17456284],
       [0.2185633 ],
       [0.0835574 ],
       ...,
       [0.11841688],
       [0.15544963],
       [0.17790844]], dtype=float32)